
.container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.list .item{
  margin-top: 10px;
}
.segment .list .item{
  margin-top: 0px ;
  padding: 10px !important;
}
.link{
  text-decoration: underline;
}
.title{
  font-size: 1.5em !important;
  font-weight: bold !important;
  color: red !important;
}
.pull-right{
  float: right !important;
}
.post-type{
  width: 100px !important;
}
.write{
  margin-left: 15px !important;
}
.upload{
    width: 290px;
    margin-top: .875em;
}
=======

form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container { max-width: 360px; }

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }

.glyphicon-remove, .glyphicon-ok{
	top: -23px;
	left: 250px;
}
#signupSubmit{
	background: #ef473a;
}
